body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flagbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag {
  height: 5rem;
  width: 5rem;
}

.pageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#page-numbers {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#page-numbers > li {
  margin-right: 1rem;
  color: teal;
  user-select: none;
  cursor: pointer;
}
